In [2]:
import pandas as pd
import numpy as np

# basics

In [15]:
g7_pop = pd.Series([34.43, 23.23, 231.30, 1231.32, 1])

# changing indexes
g7_pop.index = ["a","b", "c", "d","e"]


print(g7_pop["a"]) # acces to value a 
# similar to a dict but ordered

#other way to specify indexes
certificates_earned = pd.Series(
    [8, 2, 5, 6],
    index=['Tom', 'Kris', 'Ahmad', 'Beau']
)

g7_pop.iloc[1]

34.43

23.23

## DataFrame

In [25]:
df = pd.DataFrame({"name":["jack", "nathalie"], "age":[12, 32]}, 
                  index=["Jack", "Nathalie"])

df

              name  age
Jack          jack   12
Nathalie  nathalie   32